@import '../../../../assets/scss/global-mixins';

:host {
  --logo-size: 16px;
  --hover-color: #C4E0FF;
  --sub-menu-bg: #373E55;
}

// navbar
.navbar-ctn {
  position: fixed;
  top: 0;
  @include width-and-height(100%, var(--navbar-height));
  @include display-flex(center, space-between);
  background-color: transparent;
  padding: 0 8px;
  z-index: 110;
  transition: background-color .5s;

  &--active { background-color: var(--navbar-bg); }
}

// logo
.logo {
  @include display-flex;
  cursor: pointer;
  outline: none;
  z-index: 1;

  &__title {
    display: inline-block;
    font-size: var(--logo-font-size);
    margin: 10px 0 10px 15px;
    text-align: center;
  }

  &__icon { font-size: var(--logo-font-size); }
}

// topbar
.topbar {
  position: fixed;
  left: -113%;
  top: 0;
  @include width-and-height(100%, 100%);
  background-color: var(--bg-color);
  padding-top: var(--navbar-height);
  transition: left .5s;
  overflow: auto;

  &-active { left: 0; }
}

// topbar-search
.search {
  position: relative;

  &-input {
    outline: none;
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    border-radius: 30px;
    border: 1px solid rgba(82, 91, 125, .9);
    background-color: rgba(8, 15, 40, .7); // is var(--bg-color);
    padding: 9px 20px;
    font-size: 14px;
    &::placeholder { color: var(--text-color); }
  }

  &-label {
    @include position-abs-top-right(50%, 13%);
    transform: translate(-50%, -50%);
  }

  .fa-search {
    cursor: pointer;
    font-size: 15px;
    transition: font-size .3s;
    &:hover { font-size: 16px; }
  }
}

// topbar-menu
.menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 40px;
  padding-left: 0;
  .menu__item { margin-bottom: 30px; }
  .menu__link {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    padding-left: 10%;
    cursor: pointer;
    transition: color .3s;
    &:hover { color: var(--hover-color); }
  }
}

// topbar-sub-menu
.sub-menu-li {
  position: relative;
  &:hover > .menu__link,
  &:hover > .fas { color: var(--hover-color); }

  .fas {
    @include position-abs-top-right(11px, 10%);
    font-size: 13px;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: color .3s, transform .3s;
  }
}

.sub-menu {
  list-style: none;
  position: relative;
  top: 100%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15%;

  &__item { width: 100%; }

  &__link {
    text-decoration: none;
    display: block;
    margin: 15px 0 4px 0;
    color: grey;
    font-size: 14px;
    transition: color .3s;
    cursor: pointer;
    &:hover { color: var(--hover-color); }
  }

  &--active {
    & > .fas { transform: translate(-50%, -50%) rotate(90deg); }
    & > .sub-menu { max-height: 400px; }
  }
}

// menu-button
.menu-button {
  $menu-button-size: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  @include width-and-height($menu-button-size, $menu-button-size);
  @include display-flex;
  background-color: var(--main-color);
  z-index: 1;
  .button-icon { font-size: $menu-button-size / 2; }
}

// shadow
.shadow {
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
}

// media queries
@media (min-width: 280px) {
  .sub-menu {
    padding-left: 13%;
    &__item { width: 50%; }
  }
}

@media (min-width: 320px) {
  .sub-menu__item { width: 43%; }
  .topbar { width: 80%; }
}

@media (min-width: 328px) {
  .navbar-ctn { padding: 0 20px; }
  .sub-menu__item { width: 45%; }
}

@media (min-width: 340px) { .sub-menu__item { width: 41%; } }
@media (min-width: 350px) { .topbar { width: 75%; } }
@media (min-width: 380px) { .sub-menu__item { width: 50%; } }

@media (min-width: 400px) {
  $logo-size: 21px;
  .logo__title { font-size: $logo-size; }
  .logo__icon { font-size: $logo-size; }
  .topbar { width: 320px; }
}

@media (min-width: 1000px) {
  .navbar-ctn  { padding: 0 90px; }
  .logo__title { margin-top: 0; }
  .menu-button { display: none; }
  .shadow      { display: none; }
  .topbar {
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
    background: none;
    padding-top: 0;
    overflow: visible;
    display: flex;
    flex-direction: row-reverse;
  }
  .menu {
    width: 100%;
    margin-top: 0;
    @include display-flex(center, space-evenly);

    .menu__item {
      cursor: pointer;
      margin-bottom: 0;
      padding: 15px 0;
      &:hover .sub-menu { display: flex; }
      &:hover > .menu__link { color: var(--hover-color); }
    }

    .menu__link { padding-left: 0; }
  }
  .search {
    @include display-flex;
    min-width: 200px;
    &-input { margin: 0; width: 100%; }
    &-label { right: 4%; }
  }
  .sub-menu-li {
    & > .menu__link { padding-right: 20px; }

    .fas {
      font-size: 12px;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .sub-menu {
    @include position-abs-top-left(100%, 0);
    width: 325px;
    max-height: 500px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--sub-menu-bg);
    display: none;
    overflow: visible;
    cursor: default;

    &:after {
      display: block;
      content: "";
      @include position-abs-top-left(-5px, 15px);
      @include width-and-height(15px, 15px);
      background-color: var(--sub-menu-bg);
      transform: rotate(45deg);
      z-index: -1;
    }

    &__link {
      color: #fff;
      padding: 10px 0 10px 15px;
      margin: 0;
      border-radius: 5px;
      font-size: 13px;
      &:hover { background: var(--navbar-bg); }
    }

    &--active { & > .sub-menu { max-height: 500px; } }
  }
  .movies-ul {
    width: 175px;
    flex-direction: column;
    .sub-menu__item { width: 100%; }
  }
}

.link-active {
  font-weight: bold;
  color: var(--main-color) !important;
}

// animate
.animate__animated.animate__pulse { --animate-duration: 0.3s; }
