<div class="navbar-ctn" [ngClass]="{'navbar-ctn--active': scrollActivated}">

  <div class="logo" (click)="menuActivated = false" routerLink="inicio">
    <i class="fas fa-video logo__icon"></i>
    <h1 class="logo__title">Todo películas!</h1>
  </div>

  <nav class="topbar" [ngClass]="{'topbar-active': menuActivated}">
    <div class="search">

      <input
        type="text" class="search-input"
        placeholder="Buscar..."
        [(ngModel)]="word"
        (keyup.enter)="search()"
      >

      <label for="search" class="search-label" (click)="search()">
        <i class="fas fa-search"></i>
      </label>

    </div>

    <ul class="menu">

      <li class="menu__item">
        <a 
          class="menu__link" 
          (click)="menuOnOff()" 
          routerLink="inicio" 
          routerLinkActive="link-active"
        >
          Inicio
        </a>
      </li>

      <li class="menu__item sub-menu-li" [ngClass]="{'sub-menu--active': gendersActivated}">
        <a 
          class="menu__link" 
          (click)="gendersOnOff()"
        >
          Géneros
        </a>
        <i class="fas fa-chevron-right"></i>

        <ul class="sub-menu animate__animated animate__pulse">

          <li class="sub-menu__item" *ngFor="let genre of genres">
            <a
              class="sub-menu__link"
              (click)="menuOnOff()"
              [routerLink]="['género', genre.name.toLowerCase()]" 
              routerLinkActive="link-active"
            >
              {{ genre.name }}
            </a>
          </li>

        </ul>
      </li>

      <li class="menu__item sub-menu-li" [ngClass]="{'sub-menu--active': moviesActivated}">
        <a class="menu__link" (click)="moviesOnOff()">Películas</a>
        <i class="fas fa-chevron-right"></i>
        <ul class="sub-menu movies-ul animate__animated animate__pulse">

          <li class="sub-menu__item" *ngFor="let rating of moviesRatings">
            <a 
              class="sub-menu__link" 
              (click)="menuOnOff()" 
              [routerLink]="['/películas', rating.toLowerCase()]" 
              routerLinkActive="link-active"
            > 
              {{ rating }} 
            </a>
          </li>

        </ul>
      </li>

      <li class="menu__item">
        <a 
          class="menu__link" 
          (click)="menuOnOff()" 
          routerLink="series" 
          routerLinkActive="link-active"
        >
          Series & TV
        </a>
      </li>

    </ul>
  </nav>

  <button class="menu-button" type="button" (click)="menuOnOff()">
    <i class="fas fa-bars button-icon"  *ngIf="!menuActivated"></i>
    <i class="fas fa-times button-icon" *ngIf="menuActivated"></i>
  </button>

</div>

<div
  class="shadow animate__animated animate__fadeIn animate__faster"
  *ngIf="menuActivated"
  (click)="menuActivated = false"
>
</div>
