<div class="contenedor-todo" *ngIf="film.media_type == 'movie'">
  <section class="contenedor">
    <img
      #img
      [src]="film.poster_path | posterImage"
      [alt]="film.title"
      class="swiper-movie-img"
    >
  
    <app-spinner *ngIf="!img?.complete"></app-spinner>
  
    <div class="movie-info-ctn">
      <span class="type"> Película </span>
      <span class="date"> {{ film.release_date | slice:0:4 }} </span>
    </div>
  </section>

  <h5 class="swiper-movie-title"> {{ film.title | slice:0:65 }} </h5>
</div>

<div class="contenedor-todo" *ngIf="film.media_type == 'tv'">
  <section class="contenedor" *ngIf="film.media_type == 'tv'">
    <img
      #img2
      [src]="film.poster_path | posterImage"
      [alt]="film.name"
      class="swiper-movie-img"
    >
  
    <app-spinner *ngIf="!img2?.complete"></app-spinner>
  
    <div class="movie-info-ctn">
      <span class="type"> Serie </span>
      <span class="date"> {{ film.first_air_date | slice:0:4 }} </span>
    </div>
  </section>

  <h5 class="swiper-movie-title"> {{ film.name | slice:0:65 }} </h5>
</div>



