@import "../../../../assets/scss/global-mixins";

.swiper-series-2 { height: 360px; }

.slide {
  cursor: pointer;

  &:hover {
    .img { transform: scale(1.04); }
    .serie-name { color: var(--sidebar-title-color); }
  }
}

.img-ctn { @include img-ctn-format(100%, 80%, 0, 8px); }

.data {
  @include display-flex(center, space-between);
  transform: translateY(-30px);
  padding: 0 15px;

  .type,
  .date {
    @include pill(11px, 1px 5px);
    text-transform: none;
  }

  .date {
    background: var(--main-color);
    color: #fff;
  }
}

.serie-name {
  text-align: center;
  transform: translateY(-20px);
  margin: 10px 0 0 0;
  font-size: 14px;
  transition: color .3s;
}
