@mixin display-flex($justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin position-abs-top {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin position-abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
