.content-ctn {
  max-width: 100%;
  margin: 120px 20px;
  display: grid;
  grid-template-columns: 100%;
  gap: 40px;
  overflow: hidden;
  position: relative;
}

// media queries
@media (min-width: 576px) { .content-ctn { margin: 120px 5%; } }

@media (min-width: 769px) {
  .content-ctn  { grid-template-columns: 55% 45%; }
  .sidebar-ctn  { max-width: 88%; }
}

@media (min-width: 820px) { .content-ctn { grid-template-columns: 60% 40%; } }
@media (min-width: 920px) { .content-ctn { grid-template-columns: 65% 35%; } }

