<div class="series-slider-ctn">
  <div class="title-section">

    <h4 class="title">Series populares</h4>
    <button class="button">Ver más series</button>

  </div>

  <div class="swiper-container first-series-swiper">
    <div class="swiper-wrapper">
        <div
          class="swiper-slide first-series-swiper-slide"
          *ngFor="let serie of series"
          (click)="showSerieDetails( serie.id )"
        >
          <div class="img-ctn">
            <img #img [src]="serie.backdrop_path | posterImage" [alt]="serie.name" class="serie-img">
            <app-spinner *ngIf="!img.complete" [container]="false"></app-spinner>
          </div>

          <div class="serie-data">
            <h6 class="serie-name"> {{ serie.name }} </h6>
            <p class="serie-date"> {{ serie.first_air_date }} </p>
          </div>
        </div>
    </div>
    <!-- <div class="swiper-pagination series-1-swiper-pagination"></div> -->
  </div>
</div>
