@import '../../../../assets/scss/global-mixins';

.cast-title {
  margin: 40px 0;
  font-weight: bold;
}

.swiper-cast-container {height: 300px;}

.swiper-cast-slide {
  cursor: pointer;
  border-radius: 8px;
  background: var(--navbar-bg);
  transition: opacity .3s;
  overflow: hidden;

  &:hover {
    opacity: 0.8;
    .actor-img { transform: scale(1.04); }

    .actor-name,
    .actor-character {
      color: var(--sidebar-title-color);
    }
  }

  .actor-info-ctn {
    width: 100%;
    text-align: center;

    .actor-name,
    .actor-character {
      margin: 0 5px;
      transition: color .3s;
    }

    .actor-character { font-size: 14px; }

    .actor-name {
      font-size: 15px;
      font-weight: 900;
      margin-bottom: 5px;
    }
  }
}

.actor-img-ctn {
  @include width-and-height(100%, 70%);
  margin: 0 0 10px 0;

  .actor-img {
    @include width-and-height();
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    transition: transform .3s;
  }
}
