@import "../../../../assets/scss/global-mixins";

.second-series-swiper { @include width-and-height(100%, 360px); }

.second-series-swiper-slide {
  cursor: pointer;
  transition: transform .3s, opacity .3s;

  &:hover {
    transform: scale(1.02);
    opacity: 0.6;
    .serie-name { color: var(--sidebar-title-color); }
  }
}

.serie-img-ctn {
  width: 100%;
  @include img-ctn-format(80%, 0, 8px);
}

.data {
  @include display-flex(center, space-between);
  transform: translateY(-30px);
  padding: 0 15px;

  .type,
  .date {
    @include pill(11px, 1px 5px);
    text-transform: initial;
  }

  .date { background: var(--main-color); color: #fff; }
}

.serie-name {
  text-align: center;
  transform: translateY(-20px);
  margin: 10px 0 0 0;
  font-size: 14px;
  transition: color .3s;
}
