@import "../../../../assets/scss/global-mixins";

.swiper3-container {
  width: 100%;
  height: 360px;
}

.swiper3-slide {
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: transform .3s, opacity .3s;

  &:hover {
    transform: scale(1.02);
    opacity: 0.6;
  }

  &:hover .serie-name {
    color: var(--sidebar-title-color);
  }

}

.serie-img {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 80%;
}

.data {
  display: flex;
  align-items:center;
  justify-content: space-between;
  transform: translateY(-30px);
  padding: 0 15px;

  .type,
  .date {
    @include pill(11px, 1px 5px);
    text-transform: initial;
  }

  .date { background: var(--main-color); color: #fff; }
}

.serie-name {
  text-align: center;
  transform: translateY(-20px);
  margin: 10px 0 0 0;
  font-size: 14px;
  transition: color .3s;
}
