<div class="swiper-container swiper3-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide swiper3-slide" *ngFor="let serie of series">
        <img [src]="serie.poster_path | posterImage" [alt]="serie.name" class="serie-img">
        <div class="data">
          <span class="type">Serie</span>
          <span class="date"> {{ serie.first_air_date | slice:0:4 }} </span>
        </div>
        <h6 class="serie-name"> {{ serie.name }} </h6>
      </div>
  </div>
  <div class="swiper-pagination swiper3-pagination"></div>
</div>
