@import "../../../../assets/scss/global-mixins";

.title { flex-shrink: 0; }

.menu {
  width: 100%;
  margin: 10px 0 8px 0;
  max-width: 383px;
  @include display-flex(flex-start, space-between);
  flex-direction: column;
}

.item {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  transition: transform .2s;

  &:hover {
    color: var(--sidebar-title-color);
    transform: scale(1.05);
  }

  &:after {
    display: none;
    content: "";
    @include position-abs-top-left(100%, 0);
    @include width-and-height(100%, 3px);
    background: var(--highlighted-color);
  }
}

.active { &:after { display: block; } }

// media queries
@media (min-width: 380px) { .menu { flex-direction: row; } }

@media (min-width: 1000px) {
  .content-selector { @include display-flex(center, flex-start); }
  .menu { margin: 0; justify-content: space-evenly;}
}
