@import '../../../../assets/scss/global-mixins';

:host {
  --overview-font-size: 14px;
  --release-date-size: 14px;
  --title-font-size: 25px;
}

.main-swiper {
  position: relative;
  @include width-and-height(100%, 600px);
}

.main-swiper-slide { 
  position: relative; 
  width: 100%;
  @include img-ctn-format(100%, 0, 0);
  overflow: hidden;
  background: none;
}

.main-swiper-pagination {
  transform: translate(-50%, -5px) scale(1.5) !important;
}

.info-ctn {
  @include position-abs-top-left(20%, 0);
  width: 100%;
  padding: 0 10%;
  z-index: 10;

  .info-title {
    display: inline-block;
    font-weight: 900;
    font-size: var(--title-font-size);
    padding-right: 10px;
  }

  .type {
    @include pill();
    transform: translateY(-6px);
  }

  .rating,
  .max-rating {
    display: inline-block;
    color: var(--highlighted-color);
  }

  .rating {
    padding-right: 20px;
    .max-rating { font-size: var(--release-date-size); }
  }

  .extra-info { margin: 8px 0 10px 0; }

  .release-date {
    font-size: var(--release-date-size);
    color: var(--overview-color);
  }

  .overview-ctn {
    max-height: 170px;
    overflow: auto;

    .overview {
      font-size: var(--overview-font-size);
      color: var(--overview-color);
      margin: 0;
    }
  }

  .button {
    @include button(var(--overview-font-size));
    padding: 8px 30px;
    margin-top: 15px;
  }
}

.shadow {
  @include position-abs-top-left;
  @include width-and-height(100%, 100%);
  background: linear-gradient(
    180deg, rgba(8,15,40,0.57)
    0%, rgba(255,255,255,0)
    14%,rgba(8,15,40,1) 98%
  );
}

// media queries
@media (min-width: 291px) { :host { --title-font-size: 30px; --overview-font-size: 16px; } }
@media (min-width: 380px) { :host { --title-font-size: 40px; } }
@media (min-width: 450px) { :host { --overview-font-size: 20px; } .rating { font-size: 20px; } }
@media (min-width: 570px) { :host { --title-font-size: 45px; } }
@media (min-width: 770px) { .info-ctn { top: 25%; } }
