<div class="swiper-container main-swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide main-swiper-slide"
      *ngFor="let movie of movies"
    >
      <img class="slider-img" [src]="movie.backdrop_path | originalImage" [alt]="movie.title">
      <app-spinner></app-spinner>

      <div class="info-ctn">
        <h2 class="info-title"> {{ movie.title }} </h2>
        <span class="type"> Película </span>

        <div class="extra-info">
          <span class="rating">
            {{movie.vote_average / 2 | number:'0.2-2'}}
            <span class="max-rating">/ 5</span>
          </span>
          <span class="release-date"> {{ movie.release_date | slice:0:4 }} </span>
        </div>

        <div class="overview-ctn">
          <p class="overview">
            {{ movie.overview | slice:0:200 }}...
          </p>
        </div>

        <button type="button" class="button" (click)="showDetails( movie.id )">
          Detalles
        </button>
      </div>

      <div class="shadow"></div>
    </div>
  </div>
  <!-- <div class="swiper-pagination main-swiper-pagination"></div> -->
</div>
