<div class="swiper-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      *ngFor="let film of films"
    >

      <div class="content">
        <img class="slider-img" [src]="film.backdrop_path | originalImage" [alt]="film.title">
        <div class="info-ctn">
          <h2 class="info-title"> {{ film.title }} </h2>
          <span class="type"> Película </span>

          <div class="extra-info">
            <span class="rating">
              {{film.vote_average / 2 | number:'0.2-2'}}
              <span class="max-rating">/ 5</span>
            </span>
            <span class="release-date"> {{ film.release_date | slice:0:4 }} </span>
          </div>

          <div class="overview-ctn">
            <p class="overview">
              {{ film.overview | slice:0:200 }}...
            </p>
          </div>

          <button type="button" class="button">Detalles</button>
        </div>
      </div>

      <div class="shadow"></div>
    </div>
  </div>
  <!-- <div class="swiper-pagination"></div> -->
</div>
