<section class="movie-details-ctn" *ngIf="details && credits">
  <img [src]="details.backdrop_path | originalImage" [alt]="details.title" class="background-img">

  <div class="super-container">
    <figure class="movie-img-ctn">
      <img [src]="details.poster_path | posterImage" [alt]="details.title" class="movie-img">
    </figure>

    <div class="movie-info">
      <div>
        <h3 class="title-info">
          {{ details.title }}
          <span class="year"> ({{ details.release_date | slice:0:4 }}) </span>
        </h3>
      </div>

      <div class="general-info-ctn">
        <span> {{ details.release_date | date: 'dd/MM/yyyy' }} </span>
        <span> {{ genres | slice:0:-2 }} </span>
        <span *ngIf="details.runtime !== 0"> {{ details.runtime | minutesToHour }} </span>
      </div>

      <div *ngIf="details.vote_average !== 0">
        <circle-progress
        [percent]= "details.vote_average * 10"
        [radius]= "20"
        [backgroundColor]="'#032541'"
        [toFixed]= "0"
        [maxPercent]= "100"
        [outerStrokeWidth]= "4"
        [innerStrokeWidth]= "4"
        [outerStrokeColor]= "'orange'"
        [innerStrokeColor]= "'grey'"
        [animation]= "true"
        [animationDuration]= "0"
        [space]= "-4"
        [titleFontSize]= "15"
        [unitsFontSize]= "9"
        [titleColor]= "'orange'"
        [unitsColor]= "'orange'"
        [showSubtitle]= "false"
        [showBackground]= "true"
        [startFromZero]= "false"
      >
        </circle-progress>

        <span class="punctuation"> Puntuación </span>
      </div>

      <h5 class="tagline"> {{ details.tagline }} </h5>
    </div>
  </div>

  <div class="extra-info-container">

    <div class="overview-ctn" *ngIf="details.overview">
      <h4 class="overview-title"> Vista general </h4>
      <p class="overview"> {{ details.overview }} </p>
    </div>

    <div class="crew-ctn">
      <div class="director">
        <h5> {{ director.name }} </h5>
        <h6> {{ director.job }} </h6>
      </div>

      <div class="writters" *ngFor="let writer of writters">
        <h5> {{ writer.name }} </h5>
        <h6> {{ writer.job }} </h6>
      </div>
    </div>

  </div>
</section>

<h4 class="cast-title" *ngIf="credits?.cast.length > 0"> Reparto principal </h4>

<div class="swiper-container swiper-cast-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide swiper-cast-slide"
      *ngFor="let actor of credits?.cast"
      (click)="showActorInfo( actor.id )"
    >
      <figure class="actor-img-ctn">
        <img [src]="actor.profile_path | posterImage" [alt]="actor.name" class="actor-img">
      </figure>
      <div>
        <h5 class="actor-name"> {{ actor.name }} </h5>
        <h6 class="actor-character"> {{ actor.character }} </h6>
      </div>
    </div>
  </div>
</div>

<h4 class="recommendations-title" *ngIf="recommendedMovies?.length > 0"> Recomendaciones </h4>

<div class="swiper-container swiper-recMovies-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide swiper-recMovies-slide"
      *ngFor="let movie of recommendedMovies"
      (click)="showDetails( movie.id )"
    >
      <div class="swiper-movie-img-ctn">
        <img [src]="movie.poster_path | posterImage" [alt]="movie.title" class="swiper-movie-img">
        <div>
          <span class="type">Película</span>
          <span class="date"> {{ movie.release_date | slice:0:4 }} </span>
        </div>
      </div>

      <h5 class="swiper-movie-title"> {{ movie.title }} </h5>
    </div>
  </div>
</div>
