@import "../../../../assets/scss/global-mixins";

.back-button {
  @include button(16px);
  display: block;
  width: 100%;
  padding: 5px 20px;
  margin-top: 40px;
  &:hover { transform: scale(1); }
}
