<section class="film-ctn" *ngIf="film.title">
  <div class="img-ctn">

    <img #img [src]="film.poster_path | posterImage" [alt]="film.title" class="img">
    <app-spinner *ngIf="!img?.complete" [container]="false"></app-spinner>

    <div class="info-ctn">
      <span class="type"> Película </span>
      <span class="date" *ngIf="film.release_date"> {{ film.release_date | slice:0:4 }} </span>
    </div>

  </div>

  <h5 class="film-title"> {{ film.title | slice:0:65 }} </h5>
</section>



<section class="film-ctn" *ngIf="film.name">
  <div class="img-ctn">

    <img #img2 [src]="film.poster_path | posterImage" [alt]="film.name" class="img">
    <app-spinner *ngIf="!img2?.complete" [container]="false"></app-spinner>

    <div class="info-ctn">
      <span class="type"> Serie </span>
      <span class="date" *ngIf="film.first_air_date"> {{ film.first_air_date | slice:0:4 }} </span>
    </div>

  </div>

  <h5 class="film-title"> {{ film.name | slice:0:65 }} </h5>
</section>



