<div class="sidebar-section-ctn">
  <h3 class="title"> {{ title }} </h3>

  <div
    class="movie-section"
    *ngFor="let movie of movies; let i = index"
    (click)="showDetails( movie.id )"
  >

    <span class="number"> #{{ i + 1 }} </span>

    <div class="img-ctn">
      <img #img [src]="movie.poster_path | posterImage" [alt]="movie.title" class="img">
      <app-spinner *ngIf="!img.complete"></app-spinner>
    </div>

    <div class="info-ctn">
      <h5 class="info-title"> {{ movie.title }} </h5>
      <div class="extra-info">

        <span class="rating">
          {{movie.vote_average / 2 | number:'0.2-2'}}
          <span class="max-rating">/ 5</span>
        </span>

        <span class="release-date"> {{ movie.release_date | slice:0:4 }} </span>

        <span class="type">Película</span>
      </div>
    </div>

  </div>
</div>
