@import '../../../../assets/scss/global-mixins';

:host { --release-date-font-size: 14px; }

.title {
  background-color: var(--navbar-bg);
  text-transform: uppercase;
  color: var(--sidebar-title-color);
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  padding: 12px 0;
  margin: 0;
}

.movie-section {
  position: relative;
  @include width-and-height(100%, 150px);
  display: flex;
  margin-top: 25px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .img        { transform: scale(1.04); }
    .info-title { color: var(--sidebar-title-color); }
    .number     { transform: scale(1.04); }
  }

  .number {
    display: inline-block;
    @include position-abs-top-left(-4px, -4px);
    @include width-and-height(35px, 35px);
    @include display-flex;
    background: var(--main-color);
    box-shadow: 0 0 0 5px var(--bg-color);
    font-weight: bold;
    border-radius: 50%;
    z-index: 1;
    transition: transform .3s;
    margin-left: 4px;
  }

  .img-ctn {
    @include img-ctn-format(100px, 100%, 0 25px 0 0, 4px);
    flex-shrink: 0;
    position: relative;
    .img { transition: transform .3s; }
  }

  .info-ctn {
    overflow: hidden;
    .info-title {
      font-size: 16px;
      font-weight: bold;
      transition: color .3s;
      max-height: 97px;
      overflow: hidden;
      max-width: 90%;
    }
    .rating {
      color: var(--highlighted-color);
      display: inline-block;
      margin-bottom: 5px;
      .max-rating {
        color: var(--highlighted-color);
        font-size: var(--release-date-font-size);
      }
    }
    .release-date {
      font-size: var(--release-date-font-size);
      color: var(--text-color);
      margin: 0 15px;
    }
    .type { display: none; }
  }

  &:last-child { margin-bottom: 60px; }
}

// media queries
@media (min-width: 280px) {
  .movie-section { overflow: visible; }

  .type {
    @include pill();
    display: inline-block !important;
  }
}
