<h4 class="recommendations-title" *ngIf="films?.length > 0"> Recomendaciones </h4>

<div class="swiper-container recommended-swiper-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide recommended-swiper-slide"
      *ngFor="let film of films"
      (click)="showDetails( film.id )"
    >
      <div class="swiper-movie-img-ctn">
          <img
            #img
            *ngIf="type !== 'Serie'"
            [src]="film.poster_path | posterImage"
            [alt]="film.title"
            class="swiper-movie-img"
          >

          <app-spinner *ngIf="!img?.complete"></app-spinner>

        <img
          #img2
          *ngIf="type === 'Serie'"
          [src]="film.poster_path | posterImage"
          [alt]="film.name"
          class="swiper-movie-img"
        >

        <app-spinner *ngIf="!img2?.complete"></app-spinner>

        <div class="movie-info-ctn">
          <span class="type"> {{ type }} </span>
          <span *ngIf="type !== 'Serie'" class="date"> {{ film.release_date | slice:0:4 }} </span>
          <span *ngIf="type === 'Serie'" class="date"> {{ film.first_air_date | slice:0:4 }} </span>
        </div>
      </div>

      <h5 *ngIf="type !== 'Serie'" class="swiper-movie-title"> {{ film.title }} </h5>
      <h5 *ngIf="type === 'Serie'" class="swiper-movie-title"> {{ film.name }} </h5>
    </div>
  </div>
</div>
