<!-- SERIES SLIDER 1 -->
<app-series-slider-1></app-series-slider-1>

<!-- FILMS GRID -->
<app-selector [isMovieTitle]="true" (query)="getMovies( $event )"></app-selector>
<app-films-grid [films]="movies" *ngIf="movies?.length > 0" [button]="'simple1'"></app-films-grid>
<app-spinner *ngIf="movies?.length == 0" [container]="true"></app-spinner>

<!-- SERIES SLIDER 2 -->
<app-selector [isMovieTitle]="false" (query)="getSeries( $event )"></app-selector>
<app-series-slider-2 [series]="series" *ngIf="series?.length > 0"></app-series-slider-2>
