<!-- SERIES SLIDER 1 -->
<app-series-slider-1></app-series-slider-1>

<!-- FILMS GRID -->
<div> <app-selector [isMovieTitle]="true" (rating)="getMovies( $event )"></app-selector> </div>

<app-films-grid
  *ngIf="movies.length > 0"
  [movies]="movies"
  [button]="'inicio'"
  [rating]="rating"
>
</app-films-grid>

<app-spinner *ngIf="movies?.length == 0" [container]="true"></app-spinner>

<!-- SERIES SLIDER 2 -->
<div> <app-selector [isMovieTitle]="false" (rating)="getSeries( $event )"></app-selector> </div>
<app-series-slider-2 *ngIf="series?.length > 0" [series]="series"></app-series-slider-2>
