<div class="home-container">

  <app-series-slider></app-series-slider>

  <div class="main-content-ctn">

    <!-- MOVIES GRID -->
    <app-content-selector [isMovieTitle]="true" (typeOfQuery)="runMoviesQuery( $event )">
    </app-content-selector>

    <div class="spinner-ctn" *ngIf="movies?.length == 0">
      <app-spinner></app-spinner>
    </div>

    <app-films-grid [films]="movies" *ngIf="movies?.length > 0" [button]="'simple1'">
    </app-films-grid>

    <!-- SECONDARY SERIES SLIDER -->
    <app-content-selector [isMovieTitle]="false" (typeOfQuery)="runSeriesQuery( $event )">
    </app-content-selector>

    <app-secondary-series-slider [series]="series" *ngIf="series?.length > 0">
    </app-secondary-series-slider>
  </div>

</div>
