@import '../../../../assets/scss/global-mixins';

.footer {
  margin-top: 200px;
  @include display-flex;
  flex-direction: column;
  z-index: -1;
  height: 100px;
  background: var(--navbar-bg);
}

.copyright { margin: 0; }
