.movies-grid-container {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(330px, 1fr);
}

// media queries
@media (min-width: 368px) {
  .movies-grid-container {
    grid-template-columns: repeat( 2, 1fr );
    grid-auto-rows: minmax(auto, 320px);
  }
}

@media (min-width: 468px)  { .movies-grid-container { grid-auto-rows: minmax(340px, 1fr); }      }
@media (min-width: 515px)  { .movies-grid-container { grid-template-columns: repeat( 3, 1fr ); } }
@media (min-width: 769px)  { .movies-grid-container { grid-template-columns: repeat( 2, 1fr ); } }
@media (min-width: 955px)  { .movies-grid-container { grid-template-columns: repeat( 3, 1fr ); } }
@media (min-width: 1200px) { .movies-grid-container { grid-template-columns: repeat( 4, 1fr ); } }
