@import "~swiper/swiper-bundle";

:root {
  --bg-color:             #080F28;
  --navbar-bg:            #2A2F42;
  --sidebar-title-color:  #4461CA;
  --main-color:           #007AFF;
  --text-color:           #A9A9A9;
  --overview-color:       #BFBFBF;
  --highlighted-color:    orange;

  --navbar-height:        100px;
  --series-swiper-height: 230px;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  width: 100%;
  font-family: sans-serif, 'Roboto', 'Montserrat';
  background-color: var(--bg-color);
  position: relative;
  user-select: none;
  overflow-x: hidden;
}
