@import '../../../../assets/scss/global-mixins';

:host { --img-ctn-height: 120px; }

.first-series-swiper { height: var(--series-swiper-height); }

.title-section {
  margin-bottom: 15px;

  .button {
    @include button(10px);
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 15px;
  }
}

.first-series-swiper-slide {
  cursor: pointer;
  &:hover {
    .img-ctn {
      transform: scale(1.04);
      opacity: 0.8;
    }

    .serie-name { color: var(--sidebar-title-color); }
  }
}

.img-ctn {
  @include img-ctn-format(100%, var(--img-ctn-height), 0, 8px);
  transition: transform .3s, opacity .3s;
}

.serie-data {
  @include position-abs-top-left(var(--img-ctn-height), 0);
  width: 100%;

  .serie-name {
    font-size: 14px;
    text-align: center;
    margin: 3px 0 2px 0;
    transition: color .3s;
  }

  .serie-date {
    font-size: 11px;
    text-align: center;
    color: var(--overview-color);
  }
}

// media queries
@media (min-width: 420px) {
  .title-section { @include display-flex(center, space-between); }
  .button { display: block; margin-top: 0 !important; }
}
