@import '../../../../assets/scss/global-mixins';

:host { --img-ctn-height: 120px; }

.series-slider-ctn { position: relative; }

.title-section {
  display: block;
  margin-bottom: 15px;

  .button {
    @include button(10px);
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 15px; // querie margin-top: 0;
  }
}

.series-swiper-container {
  @include width-and-height(100%, var(--series-swiper-height));
  // position: absolute;
}

.series-swiper-slide { position: relative; width: 100%; }
.series-swiper-pagination { overflow: hidden; }

.content {
  cursor: pointer;
  &:hover .img-ctn { transform: scale(1.04); opacity: 0.7; }
  &:hover .serie-name { color: var(--sidebar-title-color); }
}

.img-ctn {
  @include position-abs-top-left;
  @include width-and-height(100%, var(--img-ctn-height));
  @include display-flex(flex-start, center);
  transition: transform .3s, opacity .3s;

  .serie-img {
    @include img-format;
    width: 100%;
    border-radius: 4px;
  }
}

.serie-data {
  @include position-abs-top-left(var(--img-ctn-height), 0);
  width: 100%;

  .serie-name {
    font-size: 14px;
    text-align: center;
    margin: 3px 0 2px 0;
    transition: color .3s;
  }

  .serie-date {
    font-size: 11px;
    text-align: center;
    color: var(--overview-color);
  }
}

// media queries
@media (min-width: 420px) {
  .title-section { @include display-flex(center, space-between); }
  .button { display: block; margin-top: 0 !important; }
}
