@import "../../../../assets/scss/global-mixins";

:host { --tagline-color: #8F8F8F; }

.film-details-ctn {
  position: relative;
  padding: 15px 0;

  &:after {
    display: block;
    content: "";
    @include position-abs-top-left();
    @include width-and-height();
    z-index: -1;
    background: rgba(25, 20, 27, 0.9);
  }

  .background-img {
    @include position-abs-top-left();
    @include width-and-height();
    object-fit: cover;
    z-index: -1;
    background: black;
  }
}

.title-info {
  display: inline-block;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}

.punctuation { font-weight: 900; }

.year {
  font-weight: 300;
  color: var(--tagline-color);
}

.tagline {
  color: var(--tagline-color);
  font-style: italic;
  margin: 25px 0;
  font-size: 15px;
}

.film-info { margin: 10px 20px; }

.general-info-ctn {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  font-size: 15px;
}

.film-img-ctn {
  @include img-ctn-format(350px, 10px, 8px);
  flex-shrink: 0;
}

.overview-title {
  font-weight: 400;
  font-size: 20px;
}

.overview {
  display: inline-block;
  font-size: 15px;
  margin: 0;
}

.crew-ctn {
  @include display-flex(flex-start, space-between);
  flex-direction: column;
  margin: 20px 0;

  h5 { font-weight: 900 }

  h5, h6 {
    margin: 0;
    font-size: 15px;
  }

  .director,
  .writters { margin-bottom: 15px; }
}

.extra-info-container { margin: 0 20px; }

.super-container { overflow: hidden; }

// media queries
@media (min-width: 306px) { .film-img-ctn { width: 250px; } }

@media (min-width: 530px) {
  .super-container {
    display: flex;
    overflow: visible;
  }

  .overview-ctn {
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: 600px) { .crew-ctn { flex-direction: row; } }

@media (min-width: 769px) {
  .super-container,
  .crew-ctn {flex-direction: column; }
}

@media (min-width: 900px) {
  .super-container,
  .crew-ctn { flex-direction: row; }
}

@media (min-width: 1050px) {
  .tagline,
  .overview,
  .general-info-ctn { font-size: 16px; }

  .director,
  .writters {
    h5, h6 { font-size: 16px; }
  }

  .overview-title { font-size: 22px;}
  .title-info { font-size: 25px; }
}
