<div class="movies-grid-container" *ngIf="movies?.length > 0">
  <app-film *ngFor="let movie of movies" [film]="movie" (click)="showDetails( movie )"></app-film>
</div>

<div class="movies-grid-container" *ngIf="series?.length > 0">
  <app-film *ngFor="let serie of series" [film]="serie" (click)="showDetails( serie )"></app-film>
</div>

<div class="movies-grid-container" *ngIf="films?.length > 0">
  <app-film *ngFor="let film of films" [film]="film" (click)="showDetails( film )"></app-film>
</div>
